body, nav {
    /* background-color: rgba(244, 241, 241, 0.884);     */
}

.self {
    height: 20rem;
}

.about {
    padding-top: 2rem;
    text-align: center;

}

h1 {
    margin-top: 2rem;
    font-family: perpetua, serif;
    font-size: 100px;
    text-align: center;
}

.title {
    text-align: center;
}

.profile-pic {
    width: 100vh;
    height: auto;
    border-radius: 50%;
    
}

.download {
    text-align: center;
    margin-top: 3rem;
    font-weight: bolder;

}

.experience {
    text-align: center;
    height: 20rem;
}

.experience-div {
    margin-top: 2rem;
}

.experiences {
    text-align: right;
}

.experiences-sub {
    text-align: right;
}

h5, ul {
    margin-top: 2rem;
}

.border {
    padding: 2rem;
    background-color: rgba(11, 4, 69, 0.923);
    color: white;
    font-weight: bolder;
    margin: 4.5rem;
}

.linked-in {
    height: 3rem;
    margin-top: 2rem;
    margin-left: 10rem;
    display: flex;
    justify-content: center;


}

.images {
    display: flex;
    margin-top: 5rem;
}

.card {
    margin: 2rem;
}


